.posts {
  margin: 0;
  list-style-type: none;
}

.post {
  margin: 3rem 0;
  background: #f4f4f4;
  padding: 1rem;
}

.post a {
  text-decoration: none;
  color: #333;
}

.post:hover {
  background: #e4e4e4;
}

.post p,
.tags ul {
  font-size: 0.8rem;
  font-style: italic;
}

.tags ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tags ul li {
  padding: 0.4rem;
  margin-right: 0.5rem;
  background-color: #5f9ea0;
  border-radius: 10px;
  color: black;
}
