.posts {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.post {
  margin: 2rem 0;
  background: #f4f4f4;
  padding: 1rem;
}

.post a {
  text-decoration: none;
  color: #333;
}

.post:hover {
  background: #e4e4e4;
}

.post p,
.tag-list {
  font-size: 0.8rem;
  font-style: italic;
}

.tag-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tag-item {
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  background-color: #5f9ea0;
  border-radius: 10px;
  color: black;
}

.tag-item:hover {
  background-color: #333;
  color: white;
}
