@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  letter-spacing: 0.05rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-content {
  text-align: justify;
  margin-top: 1.5rem;
}

.index-span {
  color: cadetblue;
  font-weight: bold;
  font-style: italic;
}
